.choose {
    padding: 100px 0 150px;
}
.tabs {
    margin-bottom: 70px;
}
.tabs__btn {
    padding: 0 150px 100px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}
.tabs__btn-item {
    border: none;
    background-color: transparent;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    padding: 0;
}
.tabs__btn-item--active {
    color: #0066FF;
}
.tabs__content-item {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px 40px;
}
.tabs__content-item.tabs__content-item--active {
    display: grid;
}

.card {
    text-align: center;
}
.card__img {
    display: block; /*что бы убрать маленький отступ*/
}
.card__content {
    padding: 0 5px;
    border: 1px solid #0066FF;
    border-top: none;
}
.card__img {
    width: 100%;
}
.card__title {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.card__text {
    margin-bottom: 20px;
}
.card__price {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}
.card__link {
    display: block;
    border: 1px solid #0066FF;
    border-top: 0;
    color: #0066FF;
}