.why-lease {
    padding: 150px 0;
}
.why-lease__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    text-align: center;
}
.why-lease__item-img {
    padding-bottom: 30px;
}
.why-lease__item-title {
    padding-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}
.why-lease__item-text {
    text-align: left;
}
